body {
  background-color: #00856f;
  text-align: center;
}

table {
  background-color: black;
  border: solid 1px black;
}

td {
  border: solid 1px black;
  background-color: aliceblue;
  width: 50px;
  height: 40px;
}